@charset "UTF-8";

pre {
	white-space: pre-line;
	font-family: sans-serif;
}

.name {
	font-weight: bold;
	color: #008800;
}

.trip {
	color: #008800;
}

.info dt, .info dd {
	display: inline;
	margin: 0;
}

.info dt:after {
	content: ":";
}
