@charset "UTF-8"
@import url("normalize.css");

body {
	padding: 10px 15px;
	line-height: 1.5;
	letter-spacing: 0.05em;
	font-family: "Arial", sans-serif;
}

table {
	border-collapse: collapse;
}

th, td {
	border: 1px solid #808080;
	padding: 0.4em;
}

footer {
	border-top: 3px double #808080;
}

nav ul {
	padding: 0;
}

nav ul::after {
	content: "";
	display: block;
	clear: both;
}

nav li {
	list-style: none;
	float: left;
	margin: 0;
	padding: 0;
}

nav li + li {
	margin-left: 1em;
}
